.confirmationboxheader {
  width: 1200px;
  height: 70px;
  margin: auto;
  margin-top: 80px;
  display: flex;
  background-color: rgb(19,31,68);
  border-radius: 4px;
}

.confirmationboxcontent {
  width: 1200px;
  height: 400px;
  margin: auto;
  margin-top: 20px;
  padding-top: 15px;
  text-align: center;
  background-color: rgb(197, 198, 208);
  border-radius: 4px;
}
